body {
    font-family: Poppins, Arial, sans-serif;
}

.container{
    margin: auto;
}

.header {
    &__title {        
        color: #758091;
        font-weight: 600;
        line-height: 54px;
        margin: 100px 0;
    }
    h1 {
        text-align: center;
    }
    &__ellipse {
        position: absolute;
        z-index: -1;
        width: 501px;
        height: 501px;
        left: -122px;
        top: -60px;
        background: linear-gradient(145.44deg, #E8EDF0 10.54%, rgba(232, 237, 240, 0) 85.04%);
        border-radius: 450px;
    }
}

.client-reviews {
    display: grid;
    grid-template-columns: 267px 540px 293px;
    grid-template-rows: 255px 200px 255px;
    grid-gap:20px;
    justify-content: center;
    align-self: center;
}

.client-review {
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    filter: drop-shadow(0px 3.84083px 20.1644px rgba(157, 175, 181, 0.25));
    border-radius: 15.3633px;


    &__info {
        padding: 0 20px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        margin: 20px;
    }

    &__info-mark {
        color: #758090;
    }

    &__info-name {
        font-weight: bold;
        font-size: 14px;
        line-height: 10px;
    }

    &__info-position {
        color: #758091;
        padding: 2px 0 8px 0;
        font-size: 14px;
    }
}

.client-review--1 {
    grid-column: span 1;
    grid-row: span 2;

    img {
        border-radius: 15px;
    }

}
.client-review--2 {
    grid-column: span 1;
    grid-row: span 1;

    .client-review__wrapper{
        display: flex;
    }

    img {
        border-radius: 10px;
    }
}
.client-review--3 {
    grid-column: span 1;
    grid-row: span 1;

    .client-review {
        &__info {
            width: 253px;
            margin: 20px 0;

            &-mark {
                margin-left: 57px;
                margin-top: 0;
                padding-top: 0;
            }
        }

        &__text {
            position: static;
            width: 253px;
            height: 105px;
            left: 0px;
            top: 0px;
        }
    }

    img {
        float: left;
        padding-right: 10px;
    }
}
.client-review--4 {
    grid-column: span 1;
    grid-row: span 1;

    .client-review {
        &__info{
            margin-top: 20px;
        }
        &__img {
            float: left;
            padding-right: 10px;
            margin: 20px 0 0 20px;
        }
        
        &__info-mark {
            margin-left: 60px;
        }
    }
}
.client-review--5 {
    grid-column: span 1;
    grid-row: span 1;

    .client-review {
        &__info {
            width: 253px;
            margin: 20px 0;

            &-mark {
                margin-left: 57px;
                margin-top: 0;
                padding-top: 0;
            }
        }

        &__text {
            position: static;
            width: 253px;
            height: 105px;
            left: 0px;
            margin-top: 10px;
        }
    }

    img {
        float: left;
        padding-right: 10px;
    }
}
.client-review--6 {
    grid-column: span 1;
    grid-row: span 1;

    .client-review {
        &__info {
            width: 253px;
            margin: 20px 0;

            &-mark {
                margin-left: 48px;
                margin-top: 0;
                padding-top: 0;
            }
        }

        &__text {
            position: static;
            width: 253px;
            height: 105px;
            left: 0px;
            padding-top: 20px;
            width: 250px;
        }
    }

    img {
        float: left;
        padding-right: 10px;
    }
}

.client-review--7 {
    grid-column: span 1;
    grid-row: span 1;

    .client-review {
        &__info {
            width: 253px;
            margin: 20px 0;

            &-mark {
                margin-left: 50px;
                margin-top: 0;
                padding-top: 0;
            }
        }

        &__text {
            position: static;
            padding: 10px;
            padding-top: 20px;
        }
    }

    img {
        float: left;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1210px) and (min-width: 860px) {
    .client-reviews {
        display: grid;
        grid-template-columns: 267px 540px;
        grid-template-rows: 255px 200px 255px 255px;
        grid-gap:20px;
        justify-content: center;
        align-self: center;
    }

    .client-review--3 {
        grid-column: span 1;
        grid-row: span 1;
    
        .client-review__text {
            padding-top: 20px;
            width: 520px;
        }
    }
    
    .client-review--5 {
        grid-column: span 1;
        grid-row: span 1;

        .client-review__text {
            padding-top: 20px;
            width: 520px;
        }
    }
}

@media only screen and (max-width: 859px) {
    .client-reviews {
        display: grid;
        grid-template-columns: 267px;
        grid-template-rows: 255px 200px 255px 255px 255px;
        grid-gap:20px;
        justify-content: center;
        align-self: center;
    }

    .client-review--2 {
        grid-column: span 1;
        grid-row: span 2;
    
        .client-review__wrapper{
            display: flex;
            flex-direction: column;
        }
    
        img {
            border-radius: 10px;
        }
    }

    .client-review--3 {
        grid-column: span 1;
        grid-row: span 1;
    
        .client-review {
            &__info {
                width: 253px;
                margin: 20px 0;
    
                &-mark {
                    margin-left: 57px;
                    margin-top: 0;
                    padding-top: 0;
                }
            }
    
            &__text {
                position: static;
                width: 245px;
                height: 105px;
                left: 0px;
                top: 0px;
            }
        }
    
        img {
            float: left;
            padding-right: 10px;
        }
    }

    .client-review--5 {
        grid-column: span 1;
        grid-row: span 1;
    
        .client-review {
            &__info {
                width: 253px;
                margin: 20px 0;
    
                &-mark {
                    margin-left: 57px;
                    margin-top: 0;
                    padding-top: 0;
                }
            }
    
            &__text {
                position: static;
                width: 245px;
                height: 105px;
                left: 0px;
                margin-top: 10px;
            }
        }
    
        img {
            float: left;
            padding-right: 10px;
        }
    }
}